<div class="mb-3 mx-auto" style="width: 250px;">
  <div class="d-flex justify-content-center align-items-center gap-2 w-100">
    <button type="button" class="btn btn-dark btn-sm" (click)="decreaseCounter()">
      <span class="mdi mdi-minus"></span>
    </button>
    <button type="button" class="btn btn-dark btn-sm" (click)="increaseCounter()">
      <span class="mdi mdi-plus"></span>
    </button>
    <button type="button" class="btn btn-dark btn-sm" (click)="resetCounter()">
      <span class="mdi mdi-refresh"></span>
    </button>
    <span class="fs-20 f-600">{{ counter }} points!</span>
  </div>
</div>
