
<div class="w-full max-w-md p-4 bg-white border border-gray-200 rounded-lg shadow sm:p-8 dark:bg-gray-800 dark:border-gray-700">
  <div class="flex items-center justify-between mb-4">
    <h5 class="text-xl font-bold leading-none text-gray-900 dark:text-white">Dragon ball Z Characters</h5>
  </div>
  <div class="flow-root">
    <ul role="list" class="divide-y divide-gray-200 dark:divide-gray-700">
      <app-dbz-character 
      *ngFor="let character of characters"
      [image]="character.image"
      [name]="character.name"
      [power]="character.power"
      />
    </ul>
  </div>
</div>
