<div class="card">
  <img class="card-img-top shadow object-fit-cover" [src]="image" alt="Character image" style="height: 350px;"/>
  <div class="d-flex flex-column p-3">
      <h5 class="mb-1 fs-5">{{ name }}</h5>
      <span>{{ alter }}</span>
      <div>
        <ng-template [ngIf]="age != 0" [ngIfElse]="unknownAge">
          <span>{{ age }}</span>
        </ng-template>
        <ng-template #unknownAge>
          <span> -- </span>
        </ng-template>
        <span> Years old</span>
      </div>
      <div class="mb-2">
        <ng-template [ngIf]="powers.length > 0" [ngIfElse]="unknownPowers">
          <span *ngFor="let power of powers; let i = index">
            <span *ngIf="i !== 0">, </span>
            <span>{{ power }}</span>
          </span>
        </ng-template>
        <ng-template #unknownPowers>
          <span> -- </span>
        </ng-template>
      </div>
      <ng-template [ngIf]="choosing" [ngIfElse]="noChoossing" class="mt-3">
        <div class="w-auto">
          <app-heroes-power-chooser
            *ngIf="choosing"
            [includedPowers]="powers"
            (change)="togglePower($event)"
            (close)="closePowerChooser()"
          />
        </div>
      </ng-template>
      <ng-template #noChoossing>
        <button class="btn btn-dark btn-sm mt-2 " (click)="chooseAPower($event)">Available powers</button>
      </ng-template>
  </div>
</div>

