<div *ngIf="getHeroes.length == 0; else heroList" class="mx-auto text-center " style="width: 250px;">
  <img [src]="noMoreHeroesImg" alt="Goku" class="w-100 mb-2 rounded">
  <p class="f-light text-sm">No more heroes to delete..</p>
</div>
<ng-template #heroList>
  <p class="text-md">
    <span>Last deleted hero: </span>
    <span class="f-light">{{ lastDeletedHero }}</span>
  </p>
  <button
  class="btn btn-dark btn-sm"
  (click)="deleteLastHero()"
  >
    Delete last hero
  </button>
</ng-template>
<ul class="d-flex gap-2">
  <li *ngFor="let hero of getHeroes" style="width: 18rem; list-style: none;">
    <app-heroes-hero
    [image]="hero.image"
    [name]="hero.name"
    [alter]="hero.alter"
    [age]="hero.age"
    [powers]="hero?.powers ?? []"
    cl
    />
  </li>
</ul>
