<!-- <app-title>Heroes list</app-title> -->

<p class="">
  <span class="font-medium">Last deleted hero: </span>
  <span class="text-red-500">{{ lastDeletedHero }}</span>
</p>

<ng-template *ngIf="getHeroes.length > 0; else noMoreHeroes">
  <button
  class="border border-red-500 text-red-500 rounded-full py-0.5 px-3 hover:bg-red-500 hover:text-white ease-in-out duration-300"
  (click)="deleteLastHero()"
  >
    Delete last hero
  </button>
</ng-template>

<ng-template #noMoreHeroes>
  <p>No more heroes to delete!</p>
</ng-template>

<ul class="flex flex-col gap-2">

  <li *ngFor="let hero of getHeroes">
    <app-heroes-hero
    [image]="hero.image"
    [name]="hero.name"
    [alter]="hero.alter"
    [age]="hero.age"
    [powers]="hero?.powers ?? []"
    />
  </li>

</ul>
