.f-light{ font-weight: 300; }
.f-normal{ font-weight: 400; }
.f-semibold{ font-weight: 500; }
.f-bold{ font-weight: 600; }

.text-xs{ font-size: 10px; }
.text-sm{ font-size: 14px; }
.text-md{ font-size: 18px; }
.text-lg{ font-size: 22px; }
.text-xl{ font-size: 25px; }